<!-- crear registros  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>REGISTRAR USUARIO</title>
</head>

<body>
  <ul class="list-group">
    <ul class="list-group"><h3>Usuario conectado: <strong><%= name %></strong></h13>
      <a> <button onclick="myFunction()"> CERRAR SESIÓN </button></a>
      <a class="list-group-item list-group-item-primary" aria-current="page" href="/usuarios/listar"> VISTA DE TODOS LOS USUARIOS</a>
      <a class="list-group-item list-group-item-secondary" aria-current="page" href="/usuarios/registro">CREAR UN NUEVO USUARIO</a>

          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="card border-secondary">
      <div class="card-header">NUEVA TAREA</div>
      <div class="card-body">
        <form action="/usuarios/salvar_tarea" method="POST"><img src="/public/img/tareas.png">


          <div class="mb-3">
            <label for="user" class="form-label" hidden >DNI</label>
            <input type="text" class="form-control" hidden id="user1" name="user" value="<%=dni_usuario%>" tabindex="1"
              enabled >

            <label for="user" class="form-label">TITULO</label>
            <input type="text" class="form-control" id="user2" name="user" value=" MI TITULO" tabindex="1">
            <label for="user" class="form-label">DESCRIPCIÓN</label>
            <input type="text" class="form-control" id="user3" name="user" value=" MI DESCRIPCION" tabindex="1">

            <label for="user" hiddenclass="form-label">ESTADO ('pendiente') </label>
            <input type="text" hidden class="form-control" id="user4" name="user" value="pendiente" tabindex="1">

            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
            <a href="/usuarios/tareas" class="btn btn-secondary">Cancelar</a>

        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
  
  function myFunction() {
        localStorage.clear();
        window.location = "/logout";

      }
  </script>
</body>

</html>