<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Grupo 3  - PW2</title>
    <style>      
    
    </style>
  </head>
  <body class="text-center">         
          <div class="contenedor">
            <center>
            <h1></h1>
            <% if (login) { %>   
              <li> <button onclick="myFunction()">Integrantes Grupo Nº 3 </button></li>             
                <h1>Bienvenido: <strong><%= name %></strong></h1> 
                <img src="../public/img/check-user.png">  <br>
                <a href="/usuarios/listar" class="a-login">Administrar Usuarios</a>                       
                <a href="/logout" class="a-logout">Logout</a>
            <%} else { %>
                <h1><strong><%= name %></strong></h1>
                <img src="../public/img/iniciar_sesion2.png">   
                <a href="/login" class="a-login">Ir a Login</a>
            <% } %>
          </div> </center>

          <script>   function myFunction() {
            alert("Alumnos: Aldo Capezali, Franck Tscherig y Matias Cosentino");
        }</script>

  </body>
</html>